# Obtain Dataset from Yahoo Finance

We will be getting our dataset from yahoo finance website. The module yfinance allows us to extract the stock data by python code into our notebooks. The module yfinance only works with pandas version 0.24.2 and newer. Therefore, before we run this notebook it is necessary to upgrade pandas to the newest version.

In [1]:
# Modules needed to extract data 
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf

## Store stock data as CSV

The modules of zipline and yfinance are not compatible since zipline uses an older version of pandas. To circumvent this problem, we are using this notebook to obtain the dataset. We have saved the dataset into a CSV file and then open the CSV file in the main notebook. The function for saving and reading CSV files is the same for both versions of pandas. For the project, we will be working the pandas version 0.22.0 since that is the version that is compatiable to zipline.

In [8]:
# Download the stock data from yahoo finance in pandas dataframe
yf.pdr_override()
AAPLStock = pdr.get_data_yahoo("AAPL",
                               start = '2013-01-01',
                               end = '2018-12-31',
                               interval = '1d')

AMZNStock = pdr.get_data_yahoo("AMZN",
                               start = '2013-01-01',
                               end = '2018-12-31',
                               interval = '1d')

BAStock = pdr.get_data_yahoo("BA",
                             start = '2013-01-01',
                             end = '2018-12-31',
                            interval = '1d')

FBStock = pdr.get_data_yahoo("BA",
                             start = '2013-01-01',
                             end = '2018-12-31',
                             interval = '1d')

GOOGStock = pdr.get_data_yahoo("GOOG",
                          start = '2013-01-01',
                          end = '2018-12-31',
                          interval = '1d')

MAStock = pdr.get_data_yahoo("MA",
                        start = '2013-01-01',
                        end = '2018-12-31',
                        interval = '1d')

MSFTStock = pdr.get_data_yahoo("MSFT",
                          start = '2013-01-01',
                          end = '2018-12-31',
                          interval = '1d')

NVDAStock = pdr.get_data_yahoo("NVDA",
                          start = '2013-01-01',
                          end = '2018-12-31',
                          interval = '1d')

UNHStock = pdr.get_data_yahoo("UNH",
                         start = '2013-01-01',
                         end = '2018-12-31',
                         interval = '1d')

VStock = pdr.get_data_yahoo("V",
                       start = '2013-01-01',
                       end = '2018-12-31',
                       interval = '1d')
NVDAStock

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close  Adj Close    Volume
Date
2013-01-02   12.56   12.73   12.51   12.72      11.82  11970900
2013-01-03   12.72   12.87   12.58   12.73      11.83   7472200
2013-01-04   12.75   13.19   12.71   13.15      12.22  13124200
2013-01-07   13.14   13.18   12.68   12.77      11.87  15268300
2013-01-08   12.80   12.84   12.40   12.49      11.61  11660600
2013-01-09   12.59   12.65   12.13   12.21      11.35  17375500
2013-01-10   12.32   12.38   12.16   12.23      11.37  12659200
2013-01-11   12.28   12.29   12.09   12.21      11.35  12829300
2013-01-14   12.29   12.29   12.06   12.20      11.34   7642100
2013-01-15   12.14   12.14   11.91   11.98      11.14   9397200
2013-01-16   11.96   12.19   11.96   12.09      11.24   8434400
2013-01-17   12.13   12.30   12.10   12.25      11.39  14518400
2013-01-18   12.25   12.25   12.02   12.17      11.31   9927200
2013-01-22   12.16   12.27   12.05   12.11      11.26   7705600
2013-01-23   12.15   12.16   12.00   12.13      11.28  10545200
2013-01-24   12.09   12.24   12.03   12.19      11.33   9924500
2013-01-25   12.21   12.42   12.15   12.41      11.54   9848000
2013-01-28   12.47   12.69   12.44   12.61      11.72  10562300
2013-01-29   12.56   12.59   12.29   12.34      11.47   9721800
2013-01-30   12.35   12.52   12.28   12.32      11.45   7189800
2013-01-31   12.32   12.46   12.18   12.26      11.40  11763600
2013-02-01   12.36   12.41   12.26   12.37      11.50   7220400
2013-02-04   12.30   12.55   12.15   12.16      11.30  12793600
2013-02-05   12.22   12.51   12.18   12.44      11.56   9182400
2013-02-06   12.14   12.44   12.07   12.34      11.47  13267200
2013-02-07   12.30   12.40   12.17   12.29      11.42  11000000
2013-02-08   12.37   12.47   12.29   12.37      11.50   7680800
2013-02-11   12.47   12.64   12.35   12.51      11.63  10207700
2013-02-12   12.40   12.57   12.38   12.43      11.55   6945100
2013-02-13   12.44   12.67   12.33   12.37      11.50  21409900
...            ...     ...     ...     ...        ...       ...
2018-11-14  206.30  206.88  192.83  197.19     196.79  13164500
2018-11-15  196.95  205.30  195.50  202.39     201.98  21017700
2018-11-16  163.32  170.66  161.61  164.43     164.10  49088000
2018-11-19  161.79  161.82  144.63  144.70     144.41  42445500
2018-11-20  134.06  154.26  133.31  149.08     148.78  42300800
2018-11-21  154.62  155.30  143.61  144.71     144.42  25637400
2018-11-23  143.31  149.59  142.79  145.00     144.71  10299200
2018-11-26  149.89  153.47  146.56  153.05     152.74  20370800
2018-11-27  152.00  157.01  150.55  153.73     153.42  18451500
2018-11-28  158.48  160.28  153.13  160.07     159.75  20113100
2018-11-29  160.00  161.50  156.14  157.36     157.20  13729300
2018-11-30  157.75  163.86  155.72  163.43     163.26  18239100
2018-12-03  172.60  174.68  167.34  170.04     169.86  22270100
2018-12-04  168.24  168.44  156.50  157.11     156.95  20302800
2018-12-06  151.44  158.49  150.81  158.29     158.13  17307700
2018-12-07  158.46  158.87  145.62  147.61     147.46  17041900
2018-12-10  145.80  152.86  145.65  151.86     151.70  15736800
2018-12-11  155.56  155.89  145.00  148.19     148.04  16797800
2018-12-12  148.42  152.78  144.82  148.90     148.75  16353400
2018-12-13  150.79  153.38  147.44  148.89     148.74  11784600
2018-12-14  147.21  150.59  145.50  146.45     146.30  11795500
2018-12-17  145.24  148.15  141.24  143.58     143.43  16571700
2018-12-18  145.35  150.33  144.25  146.94     146.79  14109300
2018-12-19  145.58  147.74  136.43  138.51     138.37  18634100
2018-12-20  138.17  141.80  132.69  135.10     134.96  18739700
2018-12-21  136.17  137.50  128.46  129.57     129.44  21593500
2018-12-24  126.49  129.98  124.50  127.08     126.95  11596000
2018-12-26  128.94  133.14  124.46  133.10     132.96  17377500
2018-12-27  130.99  132.38  125.18  131.17     131.03  15926100
2018-12-28  132.00  137.39  130.31  133.65     133.51  15718200

[1509 rows x 6 columns]

In [9]:
# Zipline only works with lowercase column names, convert column in our dataframe to lower
VStock.columns = map(str.lower, VStock.columns)
# All the stock dataframes
StockData = [AAPLStock, AMZNStock, BAStock, FBStock, GOOGStock, MAStock, MSFTStock,
            NVDAStock, UNHStock, VStock]
# Iteration to convert columns
for stock in StockData:
    stock.columns = map(str.lower, stock.columns)
    
NVDAStock

              open    high     low   close  adj close    volume
Date
2013-01-02   12.56   12.73   12.51   12.72      11.82  11970900
2013-01-03   12.72   12.87   12.58   12.73      11.83   7472200
2013-01-04   12.75   13.19   12.71   13.15      12.22  13124200
2013-01-07   13.14   13.18   12.68   12.77      11.87  15268300
2013-01-08   12.80   12.84   12.40   12.49      11.61  11660600
2013-01-09   12.59   12.65   12.13   12.21      11.35  17375500
2013-01-10   12.32   12.38   12.16   12.23      11.37  12659200
2013-01-11   12.28   12.29   12.09   12.21      11.35  12829300
2013-01-14   12.29   12.29   12.06   12.20      11.34   7642100
2013-01-15   12.14   12.14   11.91   11.98      11.14   9397200
2013-01-16   11.96   12.19   11.96   12.09      11.24   8434400
2013-01-17   12.13   12.30   12.10   12.25      11.39  14518400
2013-01-18   12.25   12.25   12.02   12.17      11.31   9927200
2013-01-22   12.16   12.27   12.05   12.11      11.26   7705600
2013-01-23   12.15   12.16   12.00   12.13      11.28  10545200
2013-01-24   12.09   12.24   12.03   12.19      11.33   9924500
2013-01-25   12.21   12.42   12.15   12.41      11.54   9848000
2013-01-28   12.47   12.69   12.44   12.61      11.72  10562300
2013-01-29   12.56   12.59   12.29   12.34      11.47   9721800
2013-01-30   12.35   12.52   12.28   12.32      11.45   7189800
2013-01-31   12.32   12.46   12.18   12.26      11.40  11763600
2013-02-01   12.36   12.41   12.26   12.37      11.50   7220400
2013-02-04   12.30   12.55   12.15   12.16      11.30  12793600
2013-02-05   12.22   12.51   12.18   12.44      11.56   9182400
2013-02-06   12.14   12.44   12.07   12.34      11.47  13267200
2013-02-07   12.30   12.40   12.17   12.29      11.42  11000000
2013-02-08   12.37   12.47   12.29   12.37      11.50   7680800
2013-02-11   12.47   12.64   12.35   12.51      11.63  10207700
2013-02-12   12.40   12.57   12.38   12.43      11.55   6945100
2013-02-13   12.44   12.67   12.33   12.37      11.50  21409900
...            ...     ...     ...     ...        ...       ...
2018-11-14  206.30  206.88  192.83  197.19     196.79  13164500
2018-11-15  196.95  205.30  195.50  202.39     201.98  21017700
2018-11-16  163.32  170.66  161.61  164.43     164.10  49088000
2018-11-19  161.79  161.82  144.63  144.70     144.41  42445500
2018-11-20  134.06  154.26  133.31  149.08     148.78  42300800
2018-11-21  154.62  155.30  143.61  144.71     144.42  25637400
2018-11-23  143.31  149.59  142.79  145.00     144.71  10299200
2018-11-26  149.89  153.47  146.56  153.05     152.74  20370800
2018-11-27  152.00  157.01  150.55  153.73     153.42  18451500
2018-11-28  158.48  160.28  153.13  160.07     159.75  20113100
2018-11-29  160.00  161.50  156.14  157.36     157.20  13729300
2018-11-30  157.75  163.86  155.72  163.43     163.26  18239100
2018-12-03  172.60  174.68  167.34  170.04     169.86  22270100
2018-12-04  168.24  168.44  156.50  157.11     156.95  20302800
2018-12-06  151.44  158.49  150.81  158.29     158.13  17307700
2018-12-07  158.46  158.87  145.62  147.61     147.46  17041900
2018-12-10  145.80  152.86  145.65  151.86     151.70  15736800
2018-12-11  155.56  155.89  145.00  148.19     148.04  16797800
2018-12-12  148.42  152.78  144.82  148.90     148.75  16353400
2018-12-13  150.79  153.38  147.44  148.89     148.74  11784600
2018-12-14  147.21  150.59  145.50  146.45     146.30  11795500
2018-12-17  145.24  148.15  141.24  143.58     143.43  16571700
2018-12-18  145.35  150.33  144.25  146.94     146.79  14109300
2018-12-19  145.58  147.74  136.43  138.51     138.37  18634100
2018-12-20  138.17  141.80  132.69  135.10     134.96  18739700
2018-12-21  136.17  137.50  128.46  129.57     129.44  21593500
2018-12-24  126.49  129.98  124.50  127.08     126.95  11596000
2018-12-26  128.94  133.14  124.46  133.10     132.96  17377500
2018-12-27  130.99  132.38  125.18  131.17     131.03  15926100
2018-12-28  132.00  137.39  130.31  133.65     133.51  15718200

[1509 rows x 6 columns]

In [25]:
# Iteration to save dataframe as csv
stocks  = ["AAPL", "AMZN", "BA", "FB", "GOOG", "MA", "MSFT", "NVDA", "UNH", "V"]

for data, stock in zip(StockData,stocks):
    data.to_csv('{}.csv'.format(stock))