In [20]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf

In [22]:
# doanload data from yahoo finanance 
yf.pdr_override()
# Doanload data frame
AAPL = pdr.get_data_yahoo('AAPL',start = '2010-01-01', end='2017-12-31')
AAPL

[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close  Adj Close     Volume
Date
2010-01-04   30.49   30.64   30.34   30.57      20.31  123432400
2010-01-05   30.66   30.80   30.46   30.63      20.34  150476200
2010-01-06   30.63   30.75   30.11   30.14      20.02  138040000
2010-01-07   30.25   30.29   29.86   30.08      19.98  119282800
2010-01-08   30.04   30.29   29.87   30.28      20.12  111902700
2010-01-11   30.40   30.43   29.78   30.02      19.94  115557400
2010-01-12   29.88   29.97   29.49   29.67      19.71  148614900
2010-01-13   29.70   30.13   29.16   30.09      19.99  151473000
2010-01-14   30.02   30.07   29.86   29.92      19.87  108223500
2010-01-15   30.13   30.23   29.41   29.42      19.54  148516900
2010-01-19   29.76   30.74   29.61   30.72      20.41  182501900
2010-01-20   30.70   30.79   29.93   30.25      20.09  153038200
2010-01-21   30.30   30.47   29.60   29.72      19.74  152038600
2010-01-22   29.54   29.64   28.17   28.25      18.76  220441900
2010-01-25   28.93   29.24   28.60   29.01      19.27  266424900
2010-01-26   29.42   30.53   28.94   29.42      19.54  466777500
2010-01-27   29.55   30.08   28.50   29.70      19.73  430642100
2010-01-28   29.28   29.36   28.39   28.47      18.91  293375600
2010-01-29   28.73   28.89   27.18   27.44      18.22  311488100
2010-02-01   27.48   28.00   27.33   27.82      18.48  187469100
2010-02-02   27.99   28.05   27.63   27.98      18.59  174585600
2010-02-03   27.88   28.60   27.77   28.46      18.91  153832000
2010-02-04   28.10   28.34   27.37   27.44      18.22  189413000
2010-02-05   27.52   28.00   27.26   27.92      18.55  212576700
2010-02-08   27.96   28.27   27.71   27.73      18.42  119567700
2010-02-09   28.06   28.21   27.82   28.03      18.62  158221700
2010-02-10   27.98   28.09   27.75   27.87      18.52   92590400
2010-02-11   27.84   28.54   27.72   28.38      18.85  137586400
2010-02-12   28.30   28.81   27.93   28.63      19.01  163867200
2010-02-16   28.85   29.10   28.79   29.06      19.30  135934400
...            ...     ...     ...     ...        ...        ...
2017-11-16  171.18  171.87  170.30  171.10     167.21   23637500
2017-11-17  171.04  171.39  169.64  170.15     166.28   21899500
2017-11-20  170.29  170.56  169.56  169.98     166.11   16262400
2017-11-21  170.78  173.70  170.78  173.14     169.20   25131300
2017-11-22  173.36  175.00  173.05  174.96     170.98   25588900
2017-11-24  175.10  175.50  174.65  174.97     170.99   14026700
2017-11-27  175.05  175.08  173.34  174.09     170.13   20716800
2017-11-28  174.30  174.87  171.86  173.07     169.13   26428800
2017-11-29  172.63  172.92  167.16  169.48     165.62   41666400
2017-11-30  170.43  172.14  168.44  171.85     167.94   41527200
2017-12-01  169.95  171.67  168.50  171.05     167.16   39759300
2017-12-04  172.48  172.62  169.63  169.80     165.94   32542400
2017-12-05  169.06  171.52  168.40  169.64     165.78   27350200
2017-12-06  167.50  170.20  166.46  169.01     165.16   28560000
2017-12-07  169.03  170.44  168.91  169.32     165.47   25673300
2017-12-08  170.49  171.00  168.82  169.37     165.51   23355200
2017-12-11  169.20  172.89  168.79  172.67     168.74   35273800
2017-12-12  172.15  172.39  171.46  171.70     167.79   19409200
2017-12-13  172.50  173.54  172.00  172.27     168.35   23818400
2017-12-14  172.40  173.13  171.65  172.22     168.30   20476500
2017-12-15  173.63  174.17  172.46  173.97     170.01   40169300
2017-12-18  174.88  177.20  174.86  176.42     172.40   29421100
2017-12-19  175.03  175.39  174.09  174.54     170.57   27436400
2017-12-20  174.87  175.42  173.25  174.35     170.38   23475600
2017-12-21  174.17  176.02  174.10  175.01     171.03   20949900
2017-12-22  174.68  175.42  174.50  175.01     171.03   16114600
2017-12-26  170.80  171.47  169.68  170.57     166.69   33185500
2017-12-27  170.10  170.78  169.71  170.60     166.72   21498200
2017-12-28  171.00  171.85  170.48  171.08     167.19   16480200
2017-12-29  170.52  170.59  169.22  169.23     165.38   25884400

[2013 rows x 6 columns]