In [4]:
import seaborn as sn
import pandas as pd
import numpy as np

In [6]:
GOOGLE = pd.read_csv("GOOG.csv")
GOOGLE.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,1048.339966,1104.250000,1045.229980,1102.229980,1102.229980,4951500
1,2018-01-08,1102.229980,1124.290039,1096.109985,1122.260010,1122.260010,5691700
2,2018-01-15,1132.510010,1139.910034,1117.010010,1137.510010,1137.510010,5750400
3,2018-01-22,1137.489990,1179.859985,1135.109985,1175.839966,1175.839966,7867000
4,2018-01-29,1176.479980,1186.890015,1107.277954,1111.900024,1111.900024,11743900