# Picking Stocks

## Diversification

**The idea about building a portfolio is that we want to diversify our portfolio as much as possible. Diversification is where we try to reduce risk and maximize returns by choosing stocks that are not correlated. For example, if we build a two stock portfolio entirely of ATT and Verizon, our portfolio is not diversified. Both of these stocks fall under the same industry. We are taking a lot of risk since it is possible that if one performs poorly, the other one will most likely perfom poorly. A two stock diversified portfolio would be on where one stock is from one industry and the other is from another. The idea that if one stock does poorly, the perfomance is offset by the performance of the other stock since the two stocks are not affect by the same indsutry.**

## Correlation between stocks

**We will select stocks by calcuting how correlated the stocks are to one another. We want to build a portfolio that is diversified.**

In [1]:
# Modules needed for this task
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Create empy dataframe for all stocks
allStockdf = pd.DataFrame()
# Load the data from CSV to dataframe 
# Create a class to laod data 
class loadData:
    def __init__(self, name):
        self.name = name
    
    def readCSV(self):
        df = pd.read_csv("{}.csv".format(self.name),usecols = ['Date','adj close'])
        df['Symbol'] = self.name
        df.Date  = pd.to_datetime(df.Date)
        return df

In [3]:
AAPL = loadData('AAPL').readCSV()
AMZN = loadData('AMZN').readCSV()
BA = loadData('BA').readCSV()
FB = loadData('FB').readCSV()
GOOG = loadData('GOOG').readCSV()
MA = loadData('MA').readCSV()
MSFT = loadData('MSFT').readCSV()
NVDA = loadData('NVDA').readCSV()
UNH = loadData('UNH').readCSV()
V = loadData('V').readCSV()

allStockdf = allStockdf.append(AAPL)

allStockdf = allStockdf.append(AMZN)

allStockdf

           Date  adj close Symbol
0    2013-01-02      69.32   AAPL
1    2013-01-03      68.44   AAPL
2    2013-01-04      66.54   AAPL
3    2013-01-07      66.15   AAPL
4    2013-01-08      66.32   AAPL
5    2013-01-09      65.29   AAPL
6    2013-01-10      66.10   AAPL
7    2013-01-11      65.69   AAPL
8    2013-01-14      63.35   AAPL
9    2013-01-15      61.35   AAPL
10   2013-01-16      63.90   AAPL
11   2013-01-17      63.47   AAPL
12   2013-01-18      63.13   AAPL
13   2013-01-22      63.73   AAPL
14   2013-01-23      64.90   AAPL
15   2013-01-24      56.88   AAPL
16   2013-01-25      55.54   AAPL
17   2013-01-28      56.79   AAPL
18   2013-01-29      57.86   AAPL
19   2013-01-30      57.68   AAPL
20   2013-01-31      57.51   AAPL
21   2013-02-01      57.27   AAPL
22   2013-02-04      55.85   AAPL
23   2013-02-05      57.81   AAPL
24   2013-02-06      57.74   AAPL
25   2013-02-07      59.46   AAPL
26   2013-02-08      60.32   AAPL
27   2013-02-11      60.95   AAPL
28   2013-02-12      59.42   AAPL
29   2013-02-13      59.31   AAPL
...         ...        ...    ...
1479 2018-11-14    1599.01   AMZN
1480 2018-11-15    1619.44   AMZN
1481 2018-11-16    1593.41   AMZN
1482 2018-11-19    1512.29   AMZN
1483 2018-11-20    1495.46   AMZN
1484 2018-11-21    1516.73   AMZN
1485 2018-11-23    1502.06   AMZN
1486 2018-11-26    1581.33   AMZN
1487 2018-11-27    1581.42   AMZN
1488 2018-11-28    1677.75   AMZN
1489 2018-11-29    1673.57   AMZN
1490 2018-11-30    1690.17   AMZN
1491 2018-12-03    1772.36   AMZN
1492 2018-12-04    1668.40   AMZN
1493 2018-12-06    1699.19   AMZN
1494 2018-12-07    1629.13   AMZN
1495 2018-12-10    1641.03   AMZN
1496 2018-12-11    1643.24   AMZN
1497 2018-12-12    1663.54   AMZN
1498 2018-12-13    1658.38   AMZN
1499 2018-12-14    1591.91   AMZN
1500 2018-12-17    1520.91   AMZN
1501 2018-12-18    1551.48   AMZN
1502 2018-12-19    1495.08   AMZN
1503 2018-12-20    1460.83   AMZN
1504 2018-12-21    1377.45   AMZN
1505 2018-12-24    1343.96   AMZN
1506 2018-12-26    1470.90   AMZN
1507 2018-12-27    1461.64   AMZN
1508 2018-12-28    1478.02   AMZN

[3018 rows x 3 columns]